<div class="fluent-login-card">
    <div class="fluent-login-header">
        <img src="/admin/public/img/ccoin-logo.svg" alt="CCOIN" />
        <h1 class="fluent-login-title">ورود به پنل مدیریت</h1>
        <p class="fluent-login-subtitle">وارد حساب کاربری خود شوید</p>
    </div>
    
    <form id="login-form" action="/admin/login" method="POST">
        <div class="fluent-form-group">
            <label for="username" class="fluent-label">نام کاربری</label>
            <input type="text" id="username" name="username" class="fluent-input" placeholder="نام کاربری خود را وارد کنید" required autocomplete="username" />
        </div>
        
        <div class="fluent-form-group">
            <label for="password" class="fluent-label">رمز عبور</label>
            <input type="password" id="password" name="password" class="fluent-input" placeholder="رمز عبور خود را وارد کنید" required autocomplete="current-password" />
        </div>
        
        <div class="fluent-form-group">
            <label class="fluent-checkbox">
                <input type="checkbox" name="remember" value="true" />
                <span class="fluent-checkbox-indicator"></span>
                مرا به خاطر بسپار
            </label>
        </div>
        
        <button type="submit" id="login-button" class="fluent-button fluent-button-primary fluent-button-block">
            <i class="fa-solid fa-sign-in-alt ml-2"></i>
            ورود به سیستم
        </button>
    </form>
    
    <div class="fluent-login-links">
        <a href="/admin/forgot-password">رمز عبور خود را فراموش کرده‌اید؟</a>
    </div>
</div>